@forward 'computed';

html, body, * {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: var(--vl-green);
}

ol, ul {
	list-style: none;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--green);
    border-radius: 30px;
}